{% extends "base.html" %}
{% load static %}

    {% block page_title %}
        Challenge
    {% endblock page_title %}
    
    {% block content %}
    {% include "challenges/includes/header.html" with la_no_include="teste_la_no_include" %} 
    {% comment %} this with make a variable to use in the include {% endcomment %}
        <h1>{{ month|title }}</h1>
        {% if text is not none %}
            <h2>{{ text|title }}</h2>
        {% else %}
            <p>There is no challenge for this month yet!</p>
        {% endif %}
    {% endblock content %}
    
