{% extends "base.html" %}

    {% block page_title %}
        All Challenges
    {% endblock  %}
    
    {% block content %}
    {% include "challenges/includes/header.html" with la_no_include="teste_no_index" %}
        <ul>
            {% for chave in months_key %}
                <li><a href="{% url "month_challenger" chave %}">{{chave|title}}</a></li>
                {% comment %} teoricamente ele pega o name que ta la na urls e o chave seria o valor do path a primeira parte {% endcomment %}
            {% endfor %}
        </ul>
    {% endblock  %}

    
