<nav>
    <div class="container">
        <div class="left">
            <img src="" alt="">
            <span></span>
            <span>Fale com a gente <img src="" alt=""></span>
        </div>
        <div class="right">
            <a href="">Parceiros</a>
            <a href="">Como funciona</a>
            <a href="">Conheça</a>
            <a href="">Contato</a>
            <a href="">Projetos</a>
            <span></span>
            <a href="">Criar Conta</a>
            <a href="">Entrar <img src="" alt=""></a>
        </div>
    </div>
</nav>
{{ header }}